@media (max-width: 960px) {
    .items__inner {
        justify-content: center;
    }
}

@media (max-width: 810px) {
    .items__inner {
        gap: 0;
    }

    .github_page {
        margin-top: 0;
    }

    .works__item {
        margin-bottom: 30px;
    }

    .header {
        background-attachment: unset;
    }
    .right__container {
        width: 100%;
    }
    .left__container {
        width: 100%;
    }

    .empty__menu {
        transform: translateX(0);
        transform: translateY(-120%);
    }

    .empty__menu--active {
        transform: translateY(0);
    }

    .burger__menu {
        transform: translateX(0);
        transform: translateY(-120%);
    }

    .burger__menu--active {
        transform: translateY(0);
    }

    .burger__menu {
        background: rgba(0, 0, 0, 0.9);
    }
    .left-container__content {
        padding-bottom: 0;
    }
    .about__skills-title {
        font-size: 18px;
    }
    .about__span {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    .about__name {
        font-size: 28px;
    }

    .about__skill {
        font-size: 23px;
    }

    .about__date {
        font-size: 17px;
    }

    .about__city {
        font-size: 17px;
    }

    .about__skills-title {
        font-size: 17px;
    }

    .personal__q-title {
        font-size: 17px;
    }

    .education {
        font-size: 17px;
    }

    .advanced {
        font-size: 17px;
    }

    .about__skill-item {
        font-size: 17px;
    }
}

@media (max-width: 550px) {
    .works-left__container {
        display: none;
    }
    .works-right__container {
        width: 100%;
    }

    .about__title {
        font-size: 33px;
    }

    .about__name {
        font-size: 25px;
    }
    .about__skill {
        margin-bottom: 30px;
        font-size: 22px;
    }

    .about__date {
        line-height: 23px;
    }

    .about__img-block {
        max-width: 400px;
        height: 250px;
        margin-top: 30px;
    }

    .socials {
        margin-top: 40px;
    }

    .github_page {
        font-size: 17px;
    }
    .about {
        padding: 60px 20px 0;
    }

    .about__info {
        padding: 40px;
    }
}

@media (max-width: 500px) {
    .header__text {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .header-text__content span {
        font-size: 19px;
    }

    .portfolio__btn {
        font-size: 17px;
    }

    .about__title {
        font-size: 28px;
    }

    .contacts__title {
        font-size: 28px;
    }
}

@media (max-width: 410px) {
    .about__skill {
        font-size: 19px;
    }
    .about__name {
        font-size: 22px;
    }

    .phone {
        font-size: 17px;
    }

    .email {
        font-size: 17px;
    }

    .contacts__info {
        padding: 25px;
    }
}

@media (max-width: 390px) {
    .header__text {
        font-size: 23px;
        margin-bottom: 7px;
    }

    .header-text__content span {
        font-size: 17px;
    }

    .portfolio__btn {
        font-size: 16px;
        padding: 5px 10px;
    }
}
